<div class="lead-info-container">
    <div class="lead-info-btns d-flex">
        <div class="info-edit-delete-btns d-flex">
            <button title="Print">
                <i class="bi bi-printer"></i>
            </button>
            <button title="Delete"><i class="bi bi-trash3"></i></button>
            <button class="edit-btn" title="Edit"><i class="bi bi-pencil-square"></i></button>
        </div>
        <div class="lead-info-convert">
            <button (click)="openDialog()">Convert to Customer</button>
        </div>
        <div class="lead-info-more">
            <button mat-button [matMenuTriggerFor]="menu">Menu <i class="bi bi-caret-down-fill"></i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Mark as junk</button>
              <button mat-menu-item>Mark as lost</button>
            </mat-menu>
        </div>
    </div>
    <div class="lead-info-start">
      <mat-accordion hideToggle>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Lead Information</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="leadProfileDetail">
          <div class="lead-info-content pt-3 pb-3">
                <div class="lead-info-items">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Name</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Name}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items position">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Position</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Position}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Email Address">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Email Address</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.EmailAddress}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Website">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Website</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Website}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Phone">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Phone</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.PhoneNo}}</span>
                    </div>
                  </div>
                </div>
          </div>
          <div class="lead-info-content pt-3 pb-3">
                <div class="lead-info-items Company">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Company</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Company}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Address">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Address</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Address}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items City">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">City</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.CityName}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items State">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">State</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.State}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Country">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Country</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.CountryName}}</span>
                    </div>
                  </div>
                </div>
          </div>
          <div class="lead-info-content pt-3 pb-3">
            <div class="lead-info-items zip-code">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Zip Code</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.ZipCode}}</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items description">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Description</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.Description}}</span>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>General Information</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="lead-info-content pt-3 pb-3" *ngIf="leadProfileDetail">
                <div class="lead-info-items Status">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Status</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.LeadStatusName}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Source">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Source</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.LeadSourceName}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Default Language">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Default Language</span>
                    </div>
                    <div class="lead-name">
                      <span>Not geting</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Assigned">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Assigned</span>
                    </div>
                    <div class="lead-name">
                      <span>Azeem</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Tags">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Tags</span>
                    </div>
                    <div class="lead-name">
                      <span>Not Getting</span>
                    </div>
                  </div>
                </div>
          </div>
          <div class="lead-info-content pt-3 pb-3" *ngIf="leadProfileDetail">
            <div class="lead-info-items created">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Created</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.FirstName}}</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items public">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Public</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.PublicLead}}</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items web-to-lead-form">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Web to Lead Form</span>
                    </div>
                    <div class="lead-name">
                      <span>not getting</span>
                    </div>
                  </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Custom Fields</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="leadProfileDetail">
          <div class="lead-info-content pt-3 pb-3">
                <div class="lead-info-items IBO Business ID">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">IBO Business ID</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.IBOBussinessType}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Referred by">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Referred by</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.ReferredBy}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items IBO Email address">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">IBO Email address</span>
                    </div>
                    <div class="lead-name">
                      <span>Thomas Cessat</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Business Type"> 
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Business Type</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.BusinessTypeName}}</span>
                    </div>
                  </div>
                </div>
                <div class="lead-info-items Business Number">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Business Number</span>
                    </div>
                    <div class="lead-name">
                      <span>{{leadProfileDetail.BusinessNo}}</span>
                    </div>
                  </div>
                </div>
          </div>
          <div class="lead-info-content pt-3 pb-3">
            <div class="lead-info-items Preferred Time for Callback">
              <div class="lead-info-name d-flex flex-column">
                <div class="name">
                  <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                    <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                  </svg>
                  <span class="ps-2">Preferred Time for <br> Callback</span>
                </div>
                <div class="lead-name">
                  <span>{{leadProfileDetail.PreferTimeCallBack}}</span>
                </div>
              </div>
            </div>
            <div class="lead-info-items Services">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Services</span>
                    </div>
                    <div class="lead-name">
                      <span>Thomas Cessat</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items Declaration">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Declaration</span>
                    </div>
                    <div class="lead-name">
                      <span>Thomas Cessat</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items Country">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Country</span>
                    </div>
                    <div class="lead-name">
                      <span> {{leadProfileDetail.CountryName}}</span>
                    </div>
                  </div>
            </div>
            <div class="lead-info-items Secondary Phone Number">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Secondary Phone <br> Number</span>
                    </div>
                    <div class="lead-name">
                      <span>Thomas Cessat</span>
                    </div>
                  </div>
            </div>
          </div>
          <div class="lead-info-content pt-3 pb-3">
            <div class="lead-info-items Proffered Language">
                  <div class="lead-info-name d-flex flex-column">
                    <div class="name">
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#008ACF"/>
                      </svg>
                      <span class="ps-2">Proffered Language</span>
                    </div>
                    <div class="lead-name">
                      <span>Thomas Cessat</span>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Latest Activity</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="lead-info-content latest-activity">
            <p>New Lead Imported from Web to Lead Form - Lead Form 1</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>