<div class="container-fluid">

    <div class="row mt-2">
        <div [class]="receiptClass">
            <section class="content p-0">
                <div>
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3>Receipts</h3>
                                </div>
                                <div>
                                    <button class="btn btn-outline-primary" (click)="createReceipt()">
                    Create
                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>Actions</th>
                                            <th>Name</th>
                                            <th>Contact No</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Account No</th>
                                            <th>Amount</th>
                                            <th>Remaining</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let receipt of receipts; let i = index">
                                            <td>
                                                <div class="dropdown-parent">
                                                    <div class="dropdown-container">
                                                        <div class="dropdown" *ngIf="dropdownStates[i]">
                                                            <ul>
                                                                <li (click)="editReceipt(receipt)" *ngIf="receipt.status=='Pending'">
                                                                    <button class="btn btn-sm btn-primary btn-lg btn-block">
                                  Edit
                                </button>
                                                                </li>
                                                                <li (click)="delete(receipt.id, i)">
                                                                    <button class="btn btn-sm btn-danger">
                                  Delete
                                </button>
                                                                </li>
                                                                <li>
                                                                    <button class="btn btn-sm btn-success" (click)="payment(receipt, i)">
                                  Payment
                                </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <button class="btn fa fa" (click)="toggleDropdown(i)">
                                                    <fa-icon [icon]="faChevronDown"></fa-icon>
                                                  </button>
                                                </div>
                                            </td>
                                            <td>{{ receipt.member?.name }}</td>
                                            <td>{{ receipt.member?.contactNo }}</td>
                                            <td>{{ receipt.member?.address }}</td>
                                            <td>
                                                <span [class]="receipt?.style">
                          {{ receipt.status }}
                        </span>
                                            </td>
                                            <td>{{ receipt?.member?.accountNo }}</td>
                                            <td>{{ receipt?.amount }}</td>
                                            <td>{{ receipt?.remainingAmount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer table-card-footer bg-light border-top">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <div class="float-sm-right m-auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div [class]="paymentClass">
            <form [formGroup]="paymentForm" (ngSubmit)="save()">
                <section class="content p-0">
                    <div>
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="m-0">Payment</h3>
                                    </div>
                                    <div>
                                        <button type="button" class="btn-cancel btn" (click)="hidePayment()">
                      Cancel
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Name</div>
                                            <div>{{ receipt?.member?.name }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Customer AC</div>
                                            <div>{{ receipt?.member?.accountNo }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Customer AC</div>
                                            <div>{{ receipt?.member?.accountNo }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">CNIC</div>
                                            <div>{{ receipt?.member?.cnic }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Total Amount</div>
                                            <div>{{ receipt?.amount }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 mb-4 pt-2">
                                            <div class="title">Remaining</div>
                                            <div>{{ receipt?.remainingAmount }}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 required">
                                        <label class="col-form-label title" for="amount">
                      Sending Amount
                    </label>
                                        <input type="text" class="form-control" formControlName="sendingAmount" id="sendingAmount" (change)="getRemainingAmount()" />
                                    </div>

                                    <div class="col-md-12 required">
                                        <label class="col-form-label title" for="memberId">
                      Sender Account
                    </label>
                                        <select class="form-control" formControlName="accountId" id="accountId">
                      <option
                        *ngFor="let account of accountList"
                        [value]="account.id"
                      >
                        {{ account.name }}
                      </option>
                    </select>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-sm mt-3" type="submit">
                      Save
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div [class]="paymentListClass" *ngIf="payments.length>0">
            <div class="card container-fluid">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Payment Details</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th>Sender Account No</th>
                                    <th>Amount</th>
                                    <th>{{ "Creation Time" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of payments">
                                    <td>{{ payment?.senderAccountNo }}</td>
                                    <td>{{ payment?.sendingAmount }}</td>
                                    <td>
                                        {{ payment?.creationTime | date:'yyyy-MM-dd \'at\' h:mm a' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row?.member?.name}} </td>
        </ng-container>

        <!-- Contact Number Column -->
        <ng-container matColumnDef="contactNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact No </th>
            <td mat-cell *matCellDef="let row"> {{row?.member?.contactNo}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row?.member?.address}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <!-- Account Number Column -->
        <ng-container matColumnDef="accountNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account No </th>
            <td mat-cell *matCellDef="let row"> {{row?.member?.accountNo}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
        </ng-container>

        <!-- Remaining Column -->
        <ng-container matColumnDef="remainingAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining </th>
            <td mat-cell *matCellDef="let row"> {{row?.remainingAmount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
