<form class="form-horizontal" autocomplete="off" #createAccountModal="ngForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title">Create Account</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-6 required">
                <label class="col-form-label" for="name"> Name </label>
                <input type="text" class="form-control" name="name" id="name" required maxlength="32" [(ngModel)]="account.name" #nameModel="ngModel" #nameEl />
            </div>

            <div class="col-md-6">
                <label class="col-form-label" for="accountNo"> Account No </label>
                <input type="text" class="form-control" name="accountNo" id="accountNo" required maxlength="256" [(ngModel)]="account.accountNo" #accountNoModel="ngModel" #accountNoEl />
            </div>

            <div class="col-md-6">
                <label class="col-form-label"> IsActive </label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isActive" id="isActive" [(ngModel)]="account.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
      Close
    </button>
        <button type="submit" class="btn btn-primary" [disabled]="!createAccountModal.valid">
      Submit
    </button>
    </div>
</form>