<form class="form-horizontal" autocomplete="off" [formGroup]="createAccountFrom" (ngSubmit)="save()">
    <div class="card m-2">
        <div class="form-group row m-5">
            <h4 class="modal-title">Create Account</h4>
            <div class="col-md-6 required">
                <label class="col-form-label" for="name"> Name </label>
                <input type="text" class="form-control" formControlName="name" id="name" />
            </div>

            <div class="col-md-6">
                <label class="col-form-label" for="accountNo"> Account No </label>
                <input type="text" class="form-control" formControlName="accountNo" id="accountNo" />
            </div>

            <div class="col-md-6">
                <label class="col-form-label"> IsActive </label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="isActive" id="isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>