<div class="container-fluid">

    <div class="row mt-2">
        <div [class]="receiptClass">
            <section class="content p-0">
                <div>
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3>Bank Employee Receipts</h3>
                                </div>
                                <div>
                                    <button class="btn btn-outline-primary" (click)="createBankEmployeeReceipt()">
                    Create
                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>Actions</th>
                                            <th>Name</th>
                                            <th>Contact No</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Account No</th>
                                            <th>Amount</th>
                                            <th>Remaining</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let receipt of bankEmployeeReceipts; let i = index">
                                            <td>
                                                <div class="dropdown-parent">
                                                    <div class="dropdown-container">
                                                        <div class="dropdown" *ngIf="dropdownStates[i]">
                                                            <ul>
                                                                <li (click)="editBankEmployeeReceipt(receipt)">
                                                                    <button class="btn btn-sm btn-primary btn-lg btn-block">
                                  Edit
                                </button>
                                                                </li>
                                                                <li (click)="delete(receipt.id, i)">
                                                                    <button class="btn btn-sm btn-danger">
                                  Delete
                                </button>
                                                                </li>
                                                                <li>
                                                                    <button class="btn btn-sm btn-success" (click)="payment(receipt, i)">
                                  Payment
                                </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <button class="btn fa fa" (click)="toggleDropdown(i)">
                                                    <fa-icon [icon]="faChevronDown"></fa-icon>
                                                  </button>
                                                </div>
                                            </td>
                                            <td>{{ receipt.bankEmployee?.name }}</td>
                                            <td>{{ receipt.bankEmployee?.contactNo }}</td>
                                            <td>{{ receipt.bankEmployee?.address }}</td>
                                            <td>
                                                <span [class]="receipt?.style">
                          {{ receipt.status }}
                        </span>
                                            </td>
                                            <td>{{ receipt?.bankEmployee?.accountNo }}</td>
                                            <td>{{ receipt?.amount }}</td>
                                            <td>{{ receipt?.remainingAmount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer table-card-footer bg-light border-top">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <div class="float-sm-right m-auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div [class]="paymentClass">
            <form [formGroup]="paymentForm" (ngSubmit)="save()">
                <section class="content p-0">
                    <div>
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="m-0">Payment</h3>
                                    </div>
                                    <div>
                                        <button type="button" class="btn-cancel btn" (click)="hidePayment()">
                      Cancel
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Name</div>
                                            <div>{{ bankEmployeeReceipt?.bankEmployee?.name }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Customer AC</div>
                                            <div>{{ bankEmployeeReceipt?.bankEmployee?.accountNo }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Customer AC</div>
                                            <div>{{ bankEmployeeReceipt?.bankEmployee?.accountNo }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">CNIC</div>
                                            <div>{{ bankEmployeeReceipt?.bankEmployee?.cnic }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 pt-2">
                                            <div class="title">Total Amount</div>
                                            <div>{{ bankEmployeeReceipt?.amount }}</div>
                                        </div>
                                        <div class="payment-border d-flex justify-content-between pb-2 mb-4 pt-2">
                                            <div class="title">Remaining</div>
                                            <div>{{ bankEmployeeReceipt?.remainingAmount }}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 required">
                                        <label class="col-form-label title" for="amount">
                      Sending Amount
                    </label>
                                        <input type="text" class="form-control" formControlName="sendingAmount" id="sendingAmount" (change)="getRemainingAmount()" />
                                    </div>

                                    <div class="col-md-12 required">
                                        <label class="col-form-label title" for="memberId">
                      Receiver Account
                    </label>
                                        <select class="form-control" formControlName="accountId" id="accountId">
                      <option
                        *ngFor="let account of accountList"
                        [value]="account.id"
                      >
                        {{ account.name }}
                      </option>
                    </select>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-sm mt-3" type="submit">
                      Save
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div [class]="paymentListClass" *ngIf="payments.length>0">
            <div class="card container-fluid">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Payment Details</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th>Receiver Account No</th>
                                    <th>Amount</th>
                                    <th>{{ "Creation Time" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of payments">
                                    <td>{{ payment?.senderAccountNo }}</td>
                                    <td>{{ payment?.sendingAmount }}</td>
                                    <td>
                                        {{ payment?.creationTime | date:'yyyy-MM-dd \'at\' h:mm a' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>