<form class="form-horizontal" autocomplete="off" #createReceiptModal="ngForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title">Create Receipt</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row ">

            <div class="col-md-6 required">
                <label class="col-form-label" for="memberId">
              Name
          </label>
                <select class="form-control" name="memberId" id="memberId" required maxlength="32" [(ngModel)]="receipt.memberId" #memberIdModel="ngModel" #memberIdEl (change)="getMember(receipt.memberId)">
              <option *ngFor="let member of this.memberList" [value]="member.value">{{member.label}}
              </option>
          </select>
            </div>

            <div class="col-md-6 ">
                <label class="col-form-label" for="accountNo">
              Account No
          </label>
                <input type="text" class="form-control" name="accountNo" id="accountNo" required maxlength="256" [(ngModel)]="member.accountNo" #accountNoModel="ngModel" #accountNoEl />
            </div>

            <div class="col-md-6 ">
                <label class="col-form-label" for="cnic">
              CNIC
          </label>
                <input type="text" class="form-control" name="cnic" id="accountNo" required maxlength="256" [(ngModel)]="member.cnic" #cnicModel="ngModel" #cnicEl />
            </div>

            <div class="col-md-6 required">
                <label class="col-form-label" for="contactNo">
              Address
          </label>
                <input class="form-control" name="address" id="address" required maxlength="32" #addressModel="ngModel" #addressEl [(ngModel)]="member.address" />
            </div>

            <div class="col-md-6 required">
                <label class="col-form-label" for="amount">
              Amount
          </label>
                <input type="text" class="form-control" name="amount" id="amount" required maxlength="32" (keyup)="changeAmountToWords()" [(ngModel)]="receipt.amount" #amountModel="ngModel" #amountEl />
            </div>

            <div class="col-md-6 required">
                <label class="col-form-label" for="amount">
              Amount in Words
          </label>
                <input type="text" class="form-control" disabled name="amountInWords" id="amountInWords" required maxlength="32" [(ngModel)]="amountInWords" />
            </div>
            <div class="col-md-6">
                <label class="col-form-label">
              IsActive
          </label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isActive" id="isActive" [(ngModel)]="receipt.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Close
  </button>
        <button type="submit" class="btn btn-primary" [disabled]="!createReceiptModal.valid">
    Submit
  </button>
    </div>
</form>
