<div class="leads-main-container">
    <div class="newLeads-container">
        <div class="leads-title">
            <h6>Dashboard</h6>
        </div>
        <div class="leads-container">
          
            <div class="new-leads">
                <button routerLink="create-lead">New Lead</button>   
            </div>
            <div class="import-leads">
                <button>Import Lead</button>
            </div>
            <div class="filter-leads">
                <button>Filters</button>
            </div>
        </div>
    </div>
    <app-all-lead></app-all-lead>
    <app-lead-table></app-lead-table>
    
</div>